---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const data = await (await fetch(`${import.meta.env.BACKEND}/latest`)).json();
---

<Layout
  title="Latest | PreserveTube"
  description="PreserveTube is a time capsule for YouTube videos! It allows you to preserve any YouTube video, creating a snapshot that will always be available even if the original video disappears or is taken down."
  keywords="youtube archive, youtube video history, youtube deleted, youtube deleted video, youtube downloader, youtube archiver"
>
  <main>
    <Header />

    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 mx-[10%] mt-[1%]">
      {
        data.map((v) => (
          <div class="p-5">
            <a href={`/watch?v=${v.id}`}>
              <img class="w-full aspect-video" src={v.thumbnail} />
              <div class="mt-1 text-xl font-bold">{v.title}</div>

              <div class="text-sm mt-1">
                Published on {v.published} | Archived on {v.archived}
              </div>
            </a>

            <div class="flex items-center mt-[2px]">
              <img
                src={v.channelAvatar}
                class="rounded-full w-5 h-5 inline-block"
              />
              <span class="pl-[10px] text-sm">
                <a href={`/channel/${v.channelId}`} class="flex items-center">
                  {v.channel}
                  {v.channelVerified && (
                    <div class="ml-[2px] w-3 h-3">
                      <img
                        src="https://api.iconify.design/ion/checkmark-circle.svg"
                        alt="Verified"
                      />
                    </div>
                  )}
                </a>
              </span>
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
