---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const list = Astro.url.searchParams.get("list");
const data = await (
  await fetch(`${import.meta.env.BACKEND}/playlist/${list}`)
).json();

const title = data.error ? "PreserveTube" : `${data.name} | PreserveTube`;
const keywords = data.error
  ? ""
  : `${data.name} playlist archive, ${data.channel} playlist archive, ${data.name} ${data.channel} playlist archive`;
---

<Layout
  title={title}
  description="PreserveTube is a time capsule for YouTube videos! It allows you to preserve any YouTube video, creating a snapshot that will always be available even if the original video disappears or is taken down."
  keywords={keywords}
>
  <main>
    <Header />

    {
      data.error ? (
        <div class="flex items-center justify-center mx-auto p-4">
          <h1 class="inline-block">Archive not found</h1>
        </div>
      ) : (
        <div class="flex items-center justify-center mx-auto p-4">
          <img
            src={data.avatar}
            class="rounded-full mr-[10px] w-12 h-12 inline-block"
          />
          <h1 class="inline-block">
            <a href={data.url}>{data.channel}</a> - {data.name}
          </h1>
        </div>
      )
    }

    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 mx-[10%] mt-[1%]">
      {
        data.videos?.map((v) => (
          <div class="p-5">
            <a href={`/watch?v=${v.id}`}>
              <img
                class="w-full aspect-video"
                src={v.thumbnail}
                onerror={`this.src='https://yewtu.be/vi/${v.id}/mqdefault.jpg'`}
              />
              <div class="mt-1 text-xl font-bold">{v.title}</div>
              <div class="text-sm mt-1">
                Published on {v.published}
                {v.archived ? ` | Archived on ${v.archived}` : ""}
              </div>
              {v.deleted && (
                <div class="text-xs">(the original video has been deleted)</div>
              )}
            </a>
          </div>
        ))
      }
    </div>
  </main>
</Layout>
