---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

let transparency = [];
const v = Astro.url.searchParams.get("v");
const data = await (
  await fetch(`${import.meta.env.BACKEND}/video/${v}`)
).json();

if (data.disabled) return Astro.redirect(`/transparency/${v}?redirect=true`);
if (data.hasBeenReported) {
  transparency = await (
    await fetch(`${import.meta.env.BACKEND}/transparency/${v}`)
  ).json();
}

const title = data.error ? "PreserveTube" : `${data.title} | PreserveTube`;
const keywords = data.error
  ? ""
  : `${data.title} video archive, ${data.title} ${data.channel} archive`;
---

<Layout
  title={title}
  description={data.description?.split("<br>")?.join("\n")}
  keywords={keywords}
>
  <main>
    <Header />
    <div class="body">
      {
        data.error ? (
          <div class="text-center">

            <h2 class="flex place-items-center justify-center text-3xl"> Archive not found</h2>
            <button
              onclick={`window.location.href='/save?url=${encodeURIComponent(`https://www.youtube.com/watch?v=${v}`)}'`}
            >
              Archive Me!
    </button>
          </div>
        ) : (
          <>


            <div class="text-right mt-[5px] mr-[17.5%]">
              <>
                <a href="abuse">[report abuse]</a>


                <div class="inline-block w-[0.5%]" />
                <a href="dmca">[dmca]</a>
              </>
            </div>
            <div>
              {transparency.length != 0 && (
                <div class="bg-[#fff2cf] border-2 border-dashed border-[#dab75e] p-2 mt-1 mx-[17.5%]">
                  <span class="text-lg font-semibold">
                    Somebody has complained about this video...
                  </span>{" "}
                  <br />
                  {transparency.map((t) => (
                    <a href={t.details}>{t.title}</a>
                  ))}
                </div>
              )}
            </div>
            <video
              src={data.source}
              poster={data.thumbnail}
              controls
              class="w-[65%] max-h-[720px] block mt-1 mx-[17.5%]"
            />
            <h1 class="mx-[17.5%] relative">{data.title}</h1>
            <div class="flex items-center ml-[17.5%]">
              <img
                src={data.channelAvatar}
                class="rounded-full inline-block w-12 h-12"
              />
              <span class="pl-3 text-xl">
                <a href={`/channel/${data.channelId}`}>
                  {data.channel}{" "}
                  {data.channelVerified ? (
                    <div class="h-4 inline-block">
                      <img
                        src="https://api.iconify.design/ion/checkmark-circle.svg"
                        alt="Verified"
                      />
                    </div>
                  ) : (
                    ""
                  )}
                </a>
              </span>
            </div>
            <div class="metadata">
              <p class="ml-[17.5%] text-base font-bold flex">

                Published on {data.published} | Archived on {data.archived}
                <a
                  href={data.source}
                  download={`preservetube.com - ${data.source.split("/").at(-1)}`}
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5 ml-2"
                  >

                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
                    />
                  </svg>
                </a>
              </p>
              <p class="mx-[17.5%]" set:html={data.description} />
            </div>
          </>
        )
      }
    </div>
  </main>
</Layout>
