---
const { title, description, keywords, manualAnalytics = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="keywords" content={keywords}/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta property="og:title" content={title}/>
		<meta property="og:description" content={description}/>
		<meta property="og:type" content="website"/>
		<meta property="og:url" content="https://preservetube.com"/>
		<meta property="og:site_name" content="PreserveTube"/>
	  
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
	  
		<link href="https://cdn.jsdelivr.net/gh/preservetube/fonts@main/fonts.css" rel="stylesheet" type="text/css">
		
		{manualAnalytics ? (
			<script defer data-domain="preservetube.com" src="https://a.gloe.net/js/script.manual.js"></script>
			<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
			<script>
				function prepareUrl(params) {
					const url = new URL(location.href);
					return params.reduce((customUrl, param) => {
						const value = url.searchParams.get(param);
						return value ? `${customUrl}/${value}` : customUrl;
					}, `${url.origin}${url.pathname.replace(/\/$/, '')}`);
				}
				plausible('pageview', { u: prepareUrl(["v"]) + window.location.search });
			</script>
		) : (
			<script defer data-domain="preservetube.com" src="https://a.gloe.net/js/script.js"></script>
		)}

		<meta name="clckd" content="a301d1e6f3642d7f4a25f9c277c91a10" /> <!-- testing ads -->
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html,
	body {
		margin: 0;
		padding: 0;
		background-color: #fffeff;
		font-family: "Proxima Nova", sans-serif;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
</style>
